# question 1

In [1]:
import pandas as pd

# create the Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# question 02

In [2]:
import pandas as pd

# create the list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# create a Pandas Series from the list
my_series = pd.Series(my_list)

# print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# question 03

In [4]:
import pandas as pd

data = {"name": ["Alice","Bob","Claire"],
        "age": ["25","30","27"],
        "gender": ["female","male","female"]}

df = pd.DataFrame(data)
print(df)

     name age  gender
0   Alice  25  female
1     Bob  30    male
2  Claire  27  female

# question 04

In [5]:
import pandas as pd

# Create a dictionary with data
data = {'Name': ['John', 'Emma', 'Mike', 'Emily'],
        'Age': [25, 30, 27, 22],
        'Gender': ['Male', 'Female', 'Male', 'Female']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column of the DataFrame
age_series = df['Age']

# Print the DataFrame and the Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(age_series)

DataFrame:
    Name  Age  Gender
0   John   25    Male
1   Emma   30  Female
2   Mike   27    Male
3  Emily   22  Female

Series:
0    25
1    30
2    27
3    22
Name: Age, dtype: int64

# question 05

head(): This function is used to display the first n rows of the DataFrame. For example:

In [6]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head(10) # displays first 10 rows of the DataFrame

       n  a  m  e
m a i  l  _  i  d
d u b  j  e  c  t

tail(): This function is used to display the last n rows of the DataFrame. For example:

In [7]:
import pandas as pd

df = pd.read_csv('data.csv')
df.tail(10) # displays last 10 rows of the DataFrame

       n  a  m  e
m a i  l  _  i  d
d u b  j  e  c  t

describe(): This function is used to generate descriptive statistics of the DataFrame. It provides information such as count, mean, standard deviation, minimum and maximum values, and quartiles. For example:

In [8]:
import pandas as pd

df = pd.read_csv('data.csv')
df.describe() # generates descriptive statistics of the DataFrame

        n  a  m  e
count   2  2  2  2
unique  2  2  2  2
top     l  _  i  d
freq    1  1  1  1

groupby(): This function is used to group data based on a specified column. It is often used to generate summary statistics for each group. For example:

In [9]:
import pandas as pd

df = pd.read_csv('data.csv')
grouped_df = df.groupby('category')
grouped_df.mean() # generates mean of each category

KeyError: 'category'

sort_values(): This function is used to sort the DataFrame by a specified column. For example:

In [10]:
import pandas as pd

df = pd.read_csv('data.csv')
sorted_df = df.sort_values('age')
sorted_df.head(10) # displays first 10 rows of the sorted DataFrame

KeyError: 'age'

# question 06

Both Series and DataFrame are mutable in nature, while Panel is deprecated in recent versions of pandas and is no longer recommended for use.

# question 07

To create a DataFrame using multiple Series, we can pass a dictionary of Series to the DataFrame constructor.

In [11]:
import pandas as pd

# create a Series for each column
names = pd.Series(["Alice", "Bob", "Charlie"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["female", "male", "male"])

# create a dictionary of Series
data = {"name": names, "age": ages, "gender": genders}

# create the DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      name  age  gender
0    Alice   25  female
1      Bob   30    male
2  Charlie   27    male